:root {
  --gray-400: hsl(0, 0%, 14%);
  --gray-300: hsl(0, 0%, 19%);
  --white-150: hsl(0, 0%, 79%);
  --white-100: hsl(0, 0%, 90%);
  --white-50: hsl(0, 0%, 100%);
  --blue-50: hsl(206, 42%, 73%);
  --blue-100: hsl(206, 42%, 53%);
  --bg-transparent: hsl(0deg 2.88% 15.44% / 80%);
  --bg-transparent-variant: hsl(0 0% 29% / 50%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #272727;
  margin: 0;
  min-height: 100vh;
  background-image: url('../img/bg-one-piece-year-2024.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.overlay {
  background-color: hsl(0 2% 5% / 0.575);
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-block-start: 1.2rem;
  padding-block-end: 2rem;
  padding-inline: 1.5rem;
}

.search {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-block-start: 0.7rem;
  padding-block-end: 5rem;
  padding-inline: 1rem;
}

.sites {
  color: var(--clr-gray-300);
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(min(2rem, 100%), 5rem));
  gap: 1rem;
  place-items: center;
  place-content: center;
}

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.header__item__start {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.header__item__start__square {
  inline-size: 2.5rem;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  background-color: transparent;
}

.header__item__start__square:hover {
  background-color: var(--bg-transparent-variant);
  border-radius: 0.5rem;
  cursor: pointer;
}

.header__item__start__logo {
  display: none;
}

.header__item__launcher {
  position: absolute;
  inset-block-start: 3rem;
  color: var(--white-50);
  display: none;
  background-color: var(--gray-400);
  min-inline-size: 320px;
  padding-block: 0.8rem;
  padding-inline: 0.8rem;
  border-radius: 0.3rem;
}

.header__item__launcher__title {
  font-size: 0.9rem;
  margin-block-end: 1rem;
}

.header__item__launcher__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(min(5rem, 100%), 1fr));
  margin-block-end: 1rem;
  gap: 0.5rem;
}

.header__item__launcher__item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-block-start: 0.33rem;
  padding-block-end: 0.4rem;
  padding-inline: 0.5rem;
  background-color: transparent;
}

.header__item__launcher__item:hover {
  background-color: var(--gray-300);
  cursor: pointer;
}

.header__item__launcher__item__img {
  inline-size: 1.4rem;
}

.header__item__launcher__item__title {
  font-size: 0.85rem;
}

.header__item__launcher__item__more__c {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header__item__launcher__item__more__c--end {
  position: relative;
  inset-block-start: -17.5rem;
  inset-inline-start: 10.6rem;
}

.header__item__launcher__item__more__title {
  font-size: 0.8rem;
  color: var(--blue-100);
  text-decoration: none;
  margin-inline-start: 0.4rem;
}

.header__item__launcher__item__more__title:hover {
  text-decoration: underline;
  color: var(--blue-50);
}

.header__item__end {
  display: flex;
  gap: 0.5rem;
}

.header__item__end__reward {
  display: none;
}

.search__form {
  grid-column: 1 / 13;
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
  background-color: var(--bg-transparent);
  padding-block: 0.355rem;
  padding-inline-start: 0.8rem;
  padding-inline-end: 1rem;
}

.search__form__input {
  flex: 1;
  font-size: 0.95rem;
  color: hsl(0, 0%, 90%);
  border: none;
  background-color: transparent;
}

.search__form__input::placeholder {
  color: hsl(0, 0%, 79%);
}

.search__form__input:focus {
  outline: none;
}

.search__form__start {
  display: flex;
  align-items: center;
  gap: 0.28rem;
  flex-grow: 1;
}

.search__form__end__img {
  inline-size: 2rem;
}

.site__box {
  background-color: var(--bg-transparent);
  inline-size: 3.2rem;
  block-size: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.site__box__img {
  inline-size: 2.2rem;
}

.site__box__title {
  font-weight: 500;
  color: var(--white-50);
  text-shadow: 0 0 3px hsl(0 0% 6% / 0.671);
}

@media screen and (min-width: 768px) {
  .header {
    padding-block-end: 4rem;
  }

  .header__item__start__logo {
    display: block;
  }

  .header__item__end__cog,
  .header__item__end__reward {
    inline-size: 1.5rem;
  }

  .header__item__end__reward {
    display: block;
  }

  .search__form {
    grid-column: 4 / 10;
  }

  .sites {
    grid-template-columns: repeat(6, minmax(min(3rem, 100%), 5rem));
  }
}
